    <!-- Javascript
    ================================================== -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="{{ url_for('static', filename='socialite/assets/js/tippy.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='socialite/assets/js/uikit.js') }}"></script>
    <script src="{{ url_for('static', filename='socialite/assets/js/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='socialite/assets/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='socialite/assets/js/bootstrap-select.min.js') }}"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>