							<div class="widget card p-5">
                                <h4 class="text-lg font-semibold"> About </h4>
                                <ul class="text-gray-600 space-y-3 mt-3">
                                    <li class="flex items-center space-x-2"> 
                                        <ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated" role="img" aria-label="home sharp"></ion-icon>
                                        Live In <strong> {% if user.city %} {{ user.city }} {% endif %},{% if user.country %} {{ user.country }} {% endif %} </strong>
                                    </li>

                                    <li class="flex items-center space-x-2"> 
                                        <ion-icon name="heart-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated" role="img" aria-label="heart sharp"></ion-icon>
                                        From <strong> Relationship  </strong>
                                    </li>
                                    <li class="flex items-center space-x-2"> 
                                        <ion-icon name="logo-rss" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated" role="img" aria-label="logo rss"></ion-icon>
                                        Flowwed By <strong> 3,240 People </strong>
                                    </li>                                
                                </ul>
                                <div class="gap-3 grid grid-cols-3 mt-4">
                                  <img src="assets/images/avatars/avatar-lg-2.jpg" alt="" class="object-cover rounded-lg col-span-full">
                                  <img src="assets/images/avatars/avatar-2.jpg" alt="" class="rounded-lg">
                                  <img src="assets/images/avatars/avatar-4.jpg" alt="" class="rounded-lg">
                                  <img src="assets/images/avatars/avatar-5.jpg" alt="" class="rounded-lg"> 
                              </div>
                              <a href="#" class="button gray mt-3 w-full"> Edit </a>
                            </div>