<!-- Profile cover -->
<div class="profile user-profile">

    <div class="profiles_banner">
        <img src="{{ current_user.get_photo() }}" alt="">
        <div class="profile_action absolute bottom-0 right-0 space-x-1.5 p-3 text-sm z-50 hidden lg:flex">
            <a href="#"
                class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                <ion-icon name="crop-outline" class="text-xl"></ion-icon>
                <span> Crop </span>
            </a>
            <a href="#"
                class="flex items-center justify-center h-8 px-3 rounded-md bg-gray-700 bg-opacity-70 text-white space-x-1.5">
                <ion-icon name="create-outline" class="text-xl"></ion-icon>
                <span> Edit </span>
            </a>
        </div>
    </div>
    <div class="profiles_content">

        <div class="profile_avatar">
            <div class="profile_avatar_holder">
                <img src="{{ current_user.get_photo() }}" alt="">
            </div>
            <div class="user_status status_online"></div>
            <div class="icon_change_photo" hidden>
                <ion-icon name="camera" class="text-xl"></ion-icon>
            </div>
        </div>

        <div class="profile_info">
            <h1> {{ user.first_name }} {{ user.last_name }} </h1>
            <p> @{{ user.username }}</p>
        </div>

    </div>

</div>