                <ul class="side_links" data-sub-title="Settings">

                   
                    <li><a href="feed.html"> <ion-icon name="settings-outline" class="side-icon md hydrated" role="img" aria-label="settings outline"></ion-icon>  <span> Setting   </span> </a> 
                        <ul>
                            <li><a href="{{ url_for('account.manage') }}">Account</a></li>
                            <li><a href="pages-setting2.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li><a href="#"> <ion-icon name="albums-outline" class="side-icon md hydrated" role="img" aria-label="albums outline"></ion-icon> <span> Info Pages  </span> </a>
                        <ul> 
                            <li><a href="pages-about.html"> About </a></li>
                            <li><a href="pages-contact.html"> Contact us </a></li>
                            <li><a href="pages-privacy.html"> Privacy </a></li>
                        </ul>
                    </li>
                    <li><a href="#"> <ion-icon name="document-outline" class="side-icon md hydrated" role="img" aria-label="document outline"></ion-icon> <span> Create Content </span>  </a> 
                        <ul>
                            <li><a href="create-group.html"> Create Group </a></li>
                            <li><a href="create-page.html"> Create Page </a></li> 
                        </ul>
                    </li>
                    <li><a href="#"> <ion-icon name="code-slash-outline" class="side-icon md hydrated" role="img" aria-label="code slash outline"></ion-icon> <span> Development  </span> </a>
                        <ul> 
                            <li><a href="development-components.html"> Compounents </a></li>
                            <li><a href="development-plugins.html"> Plugins </a></li>
                            <li><a href="development-icons.html"> Icons </a></li>
                        </ul>
                    </li>
                       <li><a href="#"> <ion-icon name="log-in-outline" class="side-icon md hydrated" role="img" aria-label="log in outline"></ion-icon> <span>  Authentication  </span>  </a>
                        <ul>
                            <li><a href="form-login.html">form login </a></li>
                            <li><a href="form-register.html">form register</a></li>
                        </ul>
                    </li>
                    
                </ul>