    <!-- Favicon -->
    <link href="{{ url_for('static', filename='socialite/assets/images/favicon.png') }}" rel="icon" type="image/png">	

    <!-- icons
    ================================================== -->

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='socialite/assets/css/icons.css') }}">

    <!-- CSS 
    ================================================== --> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='socialite/assets/css/uikit.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='socialite/assets/css/style.css') }}">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">