   <!-- Timeline -->
                    <div class="md:flex md:space-x-6 lg:mx-16">
                        <div class="space-y-5 flex-shrink-0 md:w-7/12">
      
                           <div class="card lg:mx-0 uk-animation-slide-bottom-small">
                               <div uk-lightbox>
                                   <a href="assets/images/avatars/avatar-lg-3.jpg">  
                                       <img src="assets/images/avatars/avatar-lg-4.jpg" alt="" class="max-h-96 w-full object-cover">
                                   </a>
                               </div>     
                           </div>
                           
                           <div class="card lg:mx-0 uk-animation-slide-bottom-small">
             
                               <div uk-lightbox>
                               </div>     
                           </div>  
                           
                           <div class="card lg:mx-0 uk-animation-slide-bottom-small">   
                               <div class="p-4 space-y-3">                 
                               </div>
                           </div> 
                   
                           <div class="flex justify-center mt-6">
                               <a href="#" class="bg-white font-semibold my-3 px-6 py-2 rounded-full shadow-md dark:bg-gray-800 dark:text-white">
                                   Load more ..</a>
                           </div>
                        </div>
						
					</div>