{% macro nav_link(name, endpoint, li_classes="", a_classes="") %}
{% if request.endpoint and request.endpoint.endswith(endpoint) %}
<li class="nav-item {{li_classes}}"><a class="nav-link active {{a_classes}}" href="#">{{name}}</a></li>
{% else %}
<li class="nav-item {{li_classes}}"><a class="nav-link {{a_classes}}" href="#">{{name}}</a></li>
{% endif %}
{% endmacro %}






{% macro render_field(field) %}
{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li style="color: red;">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}