{% extends "layouts/socialite_base.html" %}


{% block content %}
<!-- Main Contents -->
<div class="main_content">
    <div class="mcontainer">
        {% include 'partials/socialite/_profile_cover.html' %}
    </div>
    <div class="mcontainer">
        {% include 'partials/socialite/_about_big.html' %}
    </div>
    <div class="mcontainer">
        {% include 'partials/socialite/_photos.html' %}
    </div>
    <div class="mcontainer">
        {% include 'partials/socialite/_preferences.html' %}
    </div>
</div>

{% endblock %}