{% include 'partials/socialite/_head.html' %}
<body>
   

    <div id="wrapper">

        <!-- Header -->
		{% include 'partials/socialite/_header.html' %}

        <!-- sidebar -->
						{% include 'partials/socialite/_left_sidebar.html' %}

        <!-- Main Contents -->
<div class="main_content">

            <div class="p-12 pb-0 bg-white shadow">
                <div class="container pb-0">
         
                    <h1 class="md:text-3xl text-lg font-semibold text-gray-900 leading-0 mb-3"> Settings </h1>
                    <nav class="responsive-nav md:m-0 -mx-4 nav-small">
                        <ul uk-switcher="connect: #components-nav ;animation: uk-animation-fade ; toggle: > * ">
                            <li class="uk-active" aria-expanded="true"><a href="#" class="lg:px-2">Privacy</a></li>
                            <li aria-expanded="false" class=""><a href="#" class="lg:px-2">Profile</a></li>
                            <li aria-expanded="false" class=""><a href="#" class="lg:px-2">Password</a></li>
                            <li aria-expanded="false" class=""><a href="#" class="lg:px-2">Change Username</a></li>
                        </ul>
                    </nav>
        
                </div>
            </div>

            <div class="mcontainer">
                 
                <div class="uk-switcher my-12" id="components-nav" style="touch-action: pan-y pinch-zoom;">
 
                     
                    <!-- Privacy -->
                    <div class="uk-active  " style="">
                         
                       <div class="md:flex md:space-x-14">
                           <div class="md:w-3/4">
                               <h2 class="text-xl font-semibold mb-2" id="basic"> Privacy</h2>
                               <p class="text-base mb-10">  Please change or update your privacy settings here </p>
										<div class="bg-white rounded-md lg:shadow-md shadow col-span-2 lg:mx-16">
											<div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
												 <div class="col-span-2">
													<label> {{ privacy_form.is_public.label }} </label>
													{{ privacy_form.is_public (class="shadow-none with-border") }}
												 </div>
												 <div class="col-span-2">
													<label> {{ privacy_form.hide_profile.label }} </label>																								{{ privacy_form.hide_profile (class="shadow-none with-border") }}
												 </div> 
											</div> 
											<div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
												<button class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </button>
												<button type="submit" id="submit" name="submit"class="button bg-blue-700"> Submit </button>
											</div> 
										</div> 
                           </div>
                       </div>

                    </div>
                    
                    <!-- Profile -->
                    <div class="" style="">
                        <div class="md:flex md:space-x-14">
                            <div class="md:w-3/4">
                                <h2 class="text-xl font-semibold mb-2" id="basic"> Profile </h2>
                                <p class="text-base mb-10"> Display success, warning and error messages.  </p>
										<div class="bg-white rounded-md lg:shadow-md shadow col-span-2 lg:mx-16">
											<div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
												<div>
													<label> {{ update_details_form.first_name.label }} </label>
													{{ update_details_form.first_name (class="shadow-none with-border") }}
												</div>
												<div>
													<label> {{ update_details_form.last_name.label }} </label>
													{{ update_details_form.last_name (class="shadow-none with-border") }}
												</div>
												<div class="col-span-2">
													<label> {{ update_details_form.age.label }} </label>
													{{ update_details_form.age (class="shadow-none with-border") }}
												</div>
												<div class="col-span-2">
													<label> {{ update_details_form.about.label }} </label>
													{{ update_details_form.about (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.height.label }} </label>
													{{ update_details_form.height (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.sex.label }} </label>
													{{ update_details_form.sex (class="shadow-none with-border") }}
												</div> 
												<div>
													<label> {{ update_details_form.city.label }} </label>
													{{ update_details_form.city (class="shadow-none with-border") }}
												</div>
												<div>
													<label> {{ update_details_form.state.label }} </label>
													{{ update_details_form.state (class="shadow-none with-border") }}
												</div>
												<div class="col-span-2">
													<label> {{ update_details_form.country.label }} </label>
													{{ update_details_form.country (class="shadow-none with-border") }}
												</div>
												<div class="col-span-2">
													<label> {{ update_details_form.religion.label }} </label>
													{{ update_details_form.religion (class="shadow-none with-border") }}
												</div>
												<div class="col-span-2">
													<label> {{ update_details_form.ethnicity.label }} </label>
													{{ update_details_form.ethnicity (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.marital_type.label }} </label>
													{{ update_details_form.marital_type (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.body_type.label }} </label>
													{{ update_details_form.body_type (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.church_denomination.label }} </label>
													{{ update_details_form.church_denomination (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.current_status.label }} </label>
													{{ update_details_form.current_status (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.drinking_status.label }} </label>
													{{ update_details_form.drinking_status (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.smoking_status.label }} </label>
													{{ update_details_form.smoking_status (class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.education_level.label }} </label>
													{{ update_details_form.education_level (class="shadow-none with-border") }}
												</div>
												<div class="col-span-2">
													<label> {{ update_details_form.has_children.label }} </label>
													{{ update_details_form.has_children(class="shadow-none with-border") }}
												</div> 
												<div class="col-span-2">
													<label> {{ update_details_form.want_children.label }} </label>
													{{ update_details_form.want_children(class="shadow-none with-border") }}
												</div>	
												<div class="col-span-2">
													<label> {{ update_details_form.open_for_relocation.label }} </label>
													{{ update_details_form.open_for_relocation(class="shadow-none with-border") }}
												</div>													
											</div> 
											<div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
												<button class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </button>
												<button type="submit" id="submit" name="submit" class="button bg-blue-700"> Submit </button>
											</div> 
										</div>                          
                            </div>
                        </div>

                    </div>

                    <!-- filter -->
                    <div class="" style="">

                        <div class="md:flex md:space-x-14">
                            <div class="md:w-3/4">
                                <h2 class="text-xl font-semibold mb-2" id="basic"> Password </h2>
                                <p class="text-base mb-10"> Please fill out this form with your old and new passwords in order to be able to change it.  </p>

										<div class="bg-white rounded-md lg:shadow-md shadow col-span-2 lg:mx-16">
											<div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
												 <div class="col-span-2">
													 						<label> {{ change_password_form.old_password.label }} </label>
													{{ change_password_form.old_password (class="shadow-none with-border") }}
												 </div>
												 <div>
													 						<label> {{ change_password_form.new_password.label }} </label>																										{{ change_password_form.new_password (class="shadow-none with-border") }}
												 </div> 
												 <div>
													 						<label> {{ change_password_form.new_password2.label }} </label>																										{{ change_password_form.new_password2 (class="shadow-none with-border") }}
												 </div> 
											</div> 
											<div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
												<button class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </button>
												<button type="submit" id="submit" name="submit"class="button bg-blue-700"> Submit </button>
											</div> 
										</div> 

                            </div>
                        </div> 
                        
                    </div>                 
                    <!-- Change Username  -->
                    <div class="" style="">
                        <div class="md:flex md:space-x-14">
                            <div class="md:w-3/4">
                                <h2 class="text-xl font-semibold mb-2" id="basic"> Change Username </h2>
                                <p class="text-base mb-10"> Use this form to change your username  </p>
									<div class="bg-white rounded-md lg:shadow-md shadow col-span-2 lg:mx-16">
											<div class="p-10 space-y-7">
												<div class="line">
													<label class"line__placeholder"> {{ change_username_form.username.label }} </label>																										{{ change_username_form.username (class="line__input") }}
												</div>
												<div class="line">
													<label class"line__placeholder"> {{ change_username_form.password.label }} </label>																										{{ change_username_form.password (class="line__input") }}
												</div>
											</div> 
											<div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
												<button class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </button>
												<button type="submit" id="submit" name="submit"class="button bg-blue-700"> Submit </button>
											</div> 
										</div> 
                                                             
                            </div>
                        </div>              
                    </div> 
                </div> 
        
            </div>
        </div>
	
    </div>
    
    <!-- For Night mode -->
    <script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);
    
        (function (window, document, undefined) {
    
            'use strict';
    
            // Feature test
            if (!('localStorage' in window)) return;
    
            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;
    
            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);
    
        })(window, document);
    </script>
  
    <!-- Javascript
    ================================================== -->
	{% include 'partials/socialite/_javascripts.html' %}


</body>
</html>