{% extends "layouts/socialite_base.html" %}

{% custom_head %}
<!-- SEO
        ================================================== -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ user.username }}, {{ user.age }}, {{ user.sex }} in {{ user.country }} seeking {{
    preferences_data.seeking_partner }} from {{ preferences_data.seeking_from_age}} to {{
    preferences_data.seeking_to_age}}.
    Interested in {{ preferences_data.seeking_marital_type_one }}</title>
<meta name="description"
    content="{{ user.username }}, {{ user.current_status }}, {{ user.ethnicity }}, {{ user.religion }}, {{ user.height }}, {{ user.age }}, {{ user.sex }} in {{ user.country }} seeking {{ preferences_data.seeking_partner }}. Interested in {{ preferences_data.seeking_marital_type_one }}. View profile for more details" />
{% include 'partials/socialite/_links.html' %}
{% endblock %}


{% block content %}
<!-- Main Contents -->
<div class="main_content">
    <div class="mcontainer">
        {% include 'partials/socialite/_profile_cover.html' %}
        <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab">
            <!-- Timeline -->
            {% include 'partials/socialite/_preferences.html' %}


            <!-- Sidebar -->
            {# include 'partials/socialite/_sidebar.html' #}

        </div>

        <!-- Friends  -->


        <!-- Photos  -->
        {% include 'partials/socialite/_photos.html' %}
    </div>

</div>
{% endblock %}