{% extends "layouts/socialite_base.html" %}


{% block content %}
<!-- Main Contents -->
<div class="main_content">
    <div class="mcontainer">

        <!--  breadcrumb -->
        <div class="breadcrumb-area py-0">
            <div class="breadcrumb">
                <ul class="m-0">
                    <li>
                        <a href="index.html">Preference</a>
                    </li>
                    <li class="active">
                        <a href="#">Create Preference </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="max-w-2xl m-auto shadow-md rounded-md bg-white lg:mt-20">

            <!-- form header -->
            <div class="text-center border-b border-gray-100 py-6">
                <h3 class="font-bold text-xl"> Create Preference </h3>
            </div>

            <!-- form body -->
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="p-10 space-y-7">
                    <div>
                        <label class="mb-0"> {{ form.seeking_partner.label }} </label>
                        {{ form.seeking_partner (class="selectpicker mt-2") }}
                    </div>
                    <div>
                        <label class="mb-0"> {{ form.seeking_open_for_relocation.label }} </label>
                        {{ form.seeking_open_for_relocation (class="selectpicker mt-2") }}
                    </div>
                    <div class="grid lg:grid-cols-2 gap-3">
                        <div>
                            <label class="mb-0"> {{ form.seeking_from_height.label }} </label>
                            {{ form.seeking_from_height (class="selectpicker mt-2") }}
                        </div>
                        <div>
                            <label class="mb-0"> {{ form.seeking_to_height.label }} </label>
                            {{ form.seeking_to_height (class="selectpicker mt-2") }}
                        </div>
                    </div>

                    <div class="grid lg:grid-cols-2 gap-3">
                        <div>
                            <label class="mb-0"> {{ form.seeking_from_age.label }} </label>
                            {{ form.seeking_from_age(class="selectpicker mt-2") }}
                        </div>
                        <div>
                            <label class="mb-0"> {{ form.seeking_to_age.label }} </label>
                            {{ form.seeking_to_age (class="selectpicker mt-2") }}
                        </div>
                    </div>

                    <div>
                        <label class="mb-0"> {{ form.seeking_education_level.label }} </label>
                        {{ form.seeking_education_level(class="selectpicker mt-2") }}
                    </div>
                    
                    
                    <div>
                        <label class="mb-0"> {{ form.seeking_country.label }} </label>
                        {{ form.seeking_country(class="selectpicker mt-2") }}
                    </div>
                    
                    <div>
                        <label class="mb-0"> {{ form.seeking_religion.label }} </label>
                        {{ form.seeking_religion(class="selectpicker mt-2") }}
                    </div>
                    
                    <div>
                        <label class="mb-0"> {{ form.seeking_ethnicity.label }} </label>
                        {{ form.seeking_ethnicity(class="selectpicker mt-2") }}
                    </div>
                    
                    <div>
                        <label class="mb-0"> {{ form.seeking_marital_type.label }} </label>
                        {{ form.seeking_marital_type(class="selectpicker mt-2") }}
                    </div>

                    <div>
                        <label class="mb-0"> {{ form.seeking_body_type.label }} </label>
                        {{ form.seeking_body_type(class="selectpicker mt-2") }}
                    </div>
                 
                    <div>
                        <label class="mb-0"> {{ form.seeking_drinking_status.label }} </label>
                        {{ form.seeking_drinking_status(class="selectpicker mt-2") }}
                    </div>
                  
                    <div>
                        <label class="mb-0"> {{ form.seeking_smoking_status.label }} </label>
                        {{ form.seeking_smoking_status(class="selectpicker mt-2") }}
                    </div>
                    <div>
                        <label class="mb-0"> {{ form.seeking_has_children.label }} </label>
                        {{ form.seeking_has_children(class="selectpicker mt-2") }}
                    </div>
                    <div>
                        <label class="mb-0"> {{ form.seeking_want_children.label }} </label>
                        {{ form.seeking_want_children(class="selectpicker mt-2") }}
                    </div>
                   
                </div>

                <!-- form footer -->
                <div class="border-t flex justify-between lg:space-x-10 p-7 bg-gray-50 rounded-b-md">
                    <!---<p class="text-sm leading-6"> You can add images, contact info and other details after you create the Page. </p> --->
                    <button type="submit" name="submit" id="submit" class="button lg:w-1/2">
                        Submit
                    </button>
                </div>
            </form>

        </div>


    </div>
</div>

{% endblock %}