{% extends "layouts/socialite_base.html" %}


{% block content %}
<!-- Main Contents -->
<div class="main_content">
	<div class="mcontainer">
		<div class="-mt-16 bg-white max-w-3xl mx-auto p-10 relative rounded-md shadow">
			<div class="md:space-y-6 space-y-5 text-gray-400 md:text-base">
				<div class="font-semibold md:text-2xl text-lg text-gray-700">Preferences</div>
				<div class="md:leading-8">This is a list of qualities and attributes which I prefer.</div>
				<ul class="text-gray-600 space-y-3 mt-3">

					{% if preferences_data.seeking_marital_type_one %}
					<strong>
						<h4> Type of marriage interested in </h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_marital_type_one }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_marital_type_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_marital_type_two }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_marital_type_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_marital_type_three }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_current_status_one %}
					<strong>
						<h4> Current Relationship Status Options </h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_current_status_one }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_current_status_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_current_status_two }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_current_status_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_current_status_three }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_from_age %}
					<strong>
						<h4> Age Preference Options </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="icon-material-outline-person-pin"
							class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated" role="img"
							aria-label="heart sharp"></ion-icon>
						From {{ preferences_data.seeking_from_age }}
						{% if preferences_data.seeking_from_age %} To {{ preferences_data.seeking_to_age }} {% endif %}
					</li>
					{% endif %}
					{% if preferences_data.seeking_from_height %}
					<li class="flex items-center space-x-2">
						<ion-icon name="icon-material-outline-person-pin"
							class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated" role="img"
							aria-label="heart sharp"></ion-icon>
						From {{ preferences_data.seeking_from_height }}
						{% if preferences_data.seeking_from_height %} To {{ preferences_data.seeking_to_height }} {%
						endif %}
					</li>
					{% endif %}

					{% if preferences_data.seeking_education_level_one %}
					<strong>
						<h4> Education Preference Options </h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_education_level_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_two }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_education_level_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_three }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_education_level_four %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_four }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_education_level_five %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_five }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_education_level_six %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_six }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_education_level_seven %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_seven }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_education_level_eight %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level_eight }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_church_denomination_one %}
					<strong>
						<h4> Church Denomination Preference Options </h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_church_denomination_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_church_denomination_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_church_denomination_two }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_church_denomination_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_church_denomination_three }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_church_denomination_four %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_church_denomination_four }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_church_denomination_five %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_church_denomination_five }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_church_denomination_six %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_church_denomination_six }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_country_one %}
					<strong>
						<h4> Location & Country Preference Options</h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_country_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_two }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_country_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_three }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_country_four %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_four }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_country_five %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_five }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_country_six %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_six }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_country_seven %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_seven }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_country_eight %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_eight }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_country_nine %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country_nine }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_religion_one %}
					<strong>
						<h4> Religion or Religious Preference Options </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_religion_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_religion_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_religion_two }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_religion_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_religion_three }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_ethnicity_one %}
					<strong>
						<h4> Ethinicity or Race Preference Options</h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_ethnicity_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_ethnicity_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_ethnicity_two }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_ethnicity_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_ethnicity_three }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_ethnicity_four %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_ethnicity_four }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_ethnicity_five %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_ethnicity_five }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_body_type_one %}
					<strong>
						<h4> Body Type Preference </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_body_type_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_body_type_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_body_type_two }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_body_type_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_body_type_three }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_body_type_four %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_body_type_four }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_drinking_status_one %}
					<strong>
						<h4> Drinking Status Preferences</h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_drinking_status_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_drinking_status_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_drinking_status_two }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_smoking_status_one %}
					<strong>
						<h4> Smoking Status Preference </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_smoking_status_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_smoking_status_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_smoking_status_two }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_has_children_one %}
					<strong>
						<h4> Has children? </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_has_children_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_has_children_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_has_children_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_has_children_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_has_children_three }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_has_children_four %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_has_children_four }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_want_children_one %}
					<strong>
						<h4> Wants children? </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_want_children_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_want_children_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_want_children_one }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_want_children_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_want_children_three }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_want_children_four %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_want_children_four }}
					</li>
					{% endif %}
					{% if preferences_data.seeking_open_for_relocation %}
					<strong>
						<h4> Open for relocation </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_open_for_relocation }}
					</li>
					{% endif %}

				</ul>



			</div>

		</div>

	</div>

	<!-- Add preference modal -->
	<div id="create-post-modal" class="create-post" uk-modal>
		<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical shadow-2xl uk-animation-slide-bottom-small">

			<div class="py-4 border-b flex  justify-between px-6">
				<h3 class="text-lg font-semibold"> Add Preference </h3>
				<div>
					<button
						class="uk-modal-close-default hover:bg-gray-100 rounded-full p-2.5 block uk-icon uk-close mt-0.5"
						type="button" uk-close>
						<i class="icon-feather-close"></i>
					</button>
				</div>
			</div>


			<div class="create-post-modal-body space-x-6 p-5 overflow-x-hidden mr-1" data-simplebar>

				<!-- form body -->
				<form action="" method="POST">
					{{ form.hidden_tag() }}
					<div class="p-10 space-y-7">
						<div>
							<label class="mb-0"> {{ form.seeking_partner.label }} </label>
							{{ form.seeking_partner (class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_open_for_relocation.label }} </label>
							{{ form.seeking_open_for_relocation (class="selectpicker mt-2") }}
						</div>
						<div class="grid lg:grid-cols-2 gap-3">
							<div>
								<label class="mb-0"> {{ form.seeking_from_height.label }} </label>
								{{ form.seeking_from_height (class="selectpicker mt-2") }}
							</div>
							<div>
								<label class="mb-0"> {{ form.seeking_to_height.label }} </label>
								{{ form.seeking_to_height (class="selectpicker mt-2") }}
							</div>
						</div>

						<div>
							<label class="mb-0"> {{ form.seeking_sex.label }} </label>
							{{ form.seeking_sex (class="selectpicker mt-2") }}
						</div>

						<div class="grid lg:grid-cols-2 gap-3">
							<div>
								<label class="mb-0"> {{ form.seeking_from_age.label }} </label>
								{{ form.seeking_from_age(class="selectpicker mt-2") }}
							</div>
							<div>
								<label class="mb-0"> {{ form.seeking_to_age.label }} </label>
								{{ form.seeking_to_age (class="selectpicker mt-2") }}
							</div>
						</div>

						<div>
							<label class="mb-0"> {{ form.seeking_education_level_one.label }} </label>
							{{ form.seeking_education_level_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_education_level_two.label }} </label>
							{{ form.seeking_education_level_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_education_level_three.label }} </label>
							{{ form.seeking_education_level_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_education_level_four.label }} </label>
							{{ form.seeking_education_level_four(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_education_level_five.label }} </label>
							{{ form.seeking_education_level_five(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_education_level_six.label }} </label>
							{{ form.seeking_education_level_six(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_education_level_seven.label }} </label>
							{{ form.seeking_education_level_seven(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_education_level_eight.label }} </label>
							{{ form.seeking_education_level_eight(class="selectpicker mt-2") }}
						</div>

						<div>
							<label class="mb-0"> {{ form.seeking_church_denomination_one.label }} </label>
							{{ form.seeking_church_denomination_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_church_denomination_two.label }} </label>
							{{ form.seeking_church_denomination_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_church_denomination_three.label }} </label>
							{{ form.seeking_church_denomination_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_church_denomination_four.label }} </label>
							{{ form.seeking_church_denomination_four(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_church_denomination_five.label }} </label>
							{{ form.seeking_church_denomination_five(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_church_denomination_six.label }} </label>
							{{ form.seeking_church_denomination_six(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_one.label }} </label>
							{{ form.seeking_country_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_two.label }} </label>
							{{ form.seeking_country_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_three.label }} </label>
							{{ form.seeking_country_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_four.label }} </label>
							{{ form.seeking_country_four(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_five.label }} </label>
							{{ form.seeking_country_five(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_six.label }} </label>
							{{ form.seeking_country_six(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_seven.label }} </label>
							{{ form.seeking_country_seven(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_country_eight.label }} </label>
							{{ form.seeking_country_eight(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_religion_one.label }} </label>
							{{ form.seeking_religion_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_religion_two.label }} </label>
							{{ form.seeking_religion_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_religion_three.label }} </label>
							{{ form.seeking_religion_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_ethnicity_one.label }} </label>
							{{ form.seeking_ethnicity_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_ethnicity_two.label }} </label>
							{{ form.seeking_ethnicity_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_ethnicity_three.label }} </label>
							{{ form.seeking_ethnicity_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_ethnicity_four.label }} </label>
							{{ form.seeking_ethnicity_four(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_ethnicity_five.label }} </label>
							{{ form.seeking_ethnicity_five(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_marital_type_one.label }} </label>
							{{ form.seeking_marital_type_one(class="selectpicker mt-2") }}
						</div>

						<div>
							<label class="mb-0"> {{ form.seeking_body_type_one.label }} </label>
							{{ form.seeking_body_type_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_body_type_two.label }} </label>
							{{ form.seeking_body_type_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_body_type_three.label }} </label>
							{{ form.seeking_body_type_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_body_type_four.label }} </label>
							{{ form.seeking_body_type_four(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_current_status_one.label }} </label>
							{{ form.seeking_current_status_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_current_status_two.label }} </label>
							{{ form.seeking_current_status_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_current_status_three.label }} </label>
							{{ form.seeking_current_status_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_drinking_status_one.label }} </label>
							{{ form.seeking_drinking_status_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_drinking_status_two.label }} </label>
							{{ form.seeking_drinking_status_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_smoking_status_one.label }} </label>
							{{ form.seeking_smoking_status_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_smoking_status_two.label }} </label>
							{{ form.seeking_smoking_status_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_has_children_one.label }} </label>
							{{ form.seeking_has_children_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_has_children_two.label }} </label>
							{{ form.seeking_has_children_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_has_children_three.label }} </label>
							{{ form.seeking_has_children_three(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_want_children_one.label }} </label>
							{{ form.seeking_want_children_one(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_want_children_two.label }} </label>
							{{ form.seeking_want_children_two(class="selectpicker mt-2") }}
						</div>
						<div>
							<label class="mb-0"> {{ form.seeking_want_children_three.label }} </label>
							{{ form.seeking_want_children_three(class="selectpicker mt-2") }}
						</div>
					</div>

					<!-- form footer -->
					<div class="border-t flex justify-between lg:space-x-10 p-7 bg-gray-50 rounded-b-md">
						<!---<p class="text-sm leading-6"> You can add images, contact info and other details after you create the Page. </p> --->
						<button type="submit" name="submit" id="submit" class="button lg:w-1/2">
							Submit
						</button>
					</div>
				</form>

			</div>

		</div>
	</div>

</div>
{% endblock %}