{% extends "layouts/socialite_base.html" %}


{% block content %}
<!-- Main Contents -->
<div class="main_content">
	<div class="mcontainer">
		<div class="-mt-16 bg-white max-w-3xl mx-auto p-10 relative rounded-md shadow">
			<div class="md:space-y-6 space-y-5 text-gray-400 md:text-base">
				<div class="font-semibold md:text-2xl text-lg text-gray-700">Preferences</div>
				<div class="md:leading-8">This is a list of qualities and attributes which I prefer.</div>
				<ul class="text-gray-600 space-y-3 mt-3">

					{% if preferences_data.seeking_marital_type %}
					<strong>
						<h4> Type of marriage interested in </h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_marital_type }}
					</li>
					{% endif %}

					

					{% if preferences_data.seeking_marital_type_three %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_marital_type_three }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_current_status %}
					<strong>
						<h4> Current Relationship Status Options </h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_current_status }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_from_age %}
					<strong>
						<h4> Age Preference Options </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="icon-material-outline-person-pin"
							class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated" role="img"
							aria-label="heart sharp"></ion-icon>
						From {{ preferences_data.seeking_from_age }}
						{% if preferences_data.seeking_from_age %} To {{ preferences_data.seeking_to_age }} {% endif %}
					</li>
					{% endif %}

					{% if preferences_data.seeking_from_height %}
					<li class="flex items-center space-x-2">
						<ion-icon name="icon-material-outline-person-pin"
							class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated" role="img"
							aria-label="heart sharp"></ion-icon>
						From {{ preferences_data.seeking_from_height }}
						{% if preferences_data.seeking_from_height %} To {{ preferences_data.seeking_to_height }} {%
						endif %}
					</li>
					{% endif %}

					{% if preferences_data.seeking_education_level %}
					<strong>
						<h4> Education Preference Options </h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_education_level }}
					</li>
					{% endif %}
					
					{% if preferences_data.seeking_country %}
					<strong>
						<h4> Location & Country Preference Options</h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_country }}
					</li>
					{% endif %}
					

					{% if preferences_data.seeking_religion %}
					<strong>
						<h4> Religion or Religious Preference Options </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_religion }}
					</li>
					{% endif %}
					

					{% if preferences_data.seeking_ethnicity_one %}
					<strong>
						<h4> Ethinicity or Race Preference Options</h4>
					</strong>

					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_ethnicity_one }}
					</li>
					{% endif %}

					{% if preferences_data.seeking_ethnicity_two %}
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_ethnicity_two }}
					</li>
					{% endif %}
					
					{% if preferences_data.seeking_body_type %}
					<strong>
						<h4> Body Type Preference </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_body_type }}
					</li>
					{% endif %}
					

					{% if preferences_data.seeking_drinking_status %}
					<strong>
						<h4> Drinking Status Preferences</h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_drinking_status }}
					</li>
					{% endif %}
					

					{% if preferences_data.seeking_smoking_status %}
					<strong>
						<h4> Smoking Status Preference </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_smoking_status }}
					</li>
					{% endif %}
					
					{% if preferences_data.seeking_has_children %}
					<strong>
						<h4> Has children? </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_has_children }}
					</li>
					{% endif %}
					

					{% if preferences_data.seeking_want_children %}
					<strong>
						<h4> Wants children? </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_want_children }}
					</li>
					{% endif %}
					
					{% if preferences_data.seeking_open_for_relocation %}
					<strong>
						<h4> Open for relocation </h4>
					</strong>
					<li class="flex items-center space-x-2">
						<ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3 md hydrated"
							role="img" aria-label="home sharp"></ion-icon>
						{{ preferences_data.seeking_open_for_relocation }}
					</li>
					{% endif %}

				</ul>



			</div>

		</div>

	</div>

	<!-- Add preference modal -->

</div>
{% endblock %}