{% extends 'layouts/base.html' %}


	
{% block content %}

    <div class="ui grid container">
        <div class="ten wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Create an account</h2>
			<h5>Please fill out the following details about yourself</h5>

			<table class="ui compact definition table">
				<tr>
					<td>Full name</td>
					<td>{{ '%s %s' % (user.first_name, user.last_name) }}</td>
				</tr>
				<tr>
					<td>Email address</td>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<td>Account type</td>
					<td>{{ user.role.name }}</td>
				</tr>
				<tr>
					<td>Account Confirmed</td>
					<td>{{ user.confirmed }}</td>
				</tr>
			</table>
        </div>
    </div>
{% endblock %}