{% extends "layouts/socialite_auth_base.html" %}
{% from "macros/socialite/form_macros.html" import render_field %}
{% block content %}

<!-- Content-->
<div>
    <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
        <form class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md" method=post>
            {{ form.hidden_tag() }}
            <h1 class="lg:text-2xl text-xl font-semibold mb-6"> Register </h1>

            <div class="grid lg:grid-cols-2 gap-3">
                <div>
                    <label class="mb-0"> {{ form.first_name.label }} </label>
                    {{ render_field(form.first_name, class="shadow-none with-border") }}
                </div>
                <div>
                    <label class="mb-0"> {{ form.last_name.label }} </label>
                    {{ render_field(form.last_name, class="shadow-none with-border") }}
                </div>
            </div>
            <div>
                <label class="mb-0"> {{ form.username.label }} </label>
                {{ render_field(form.username, class="shadow-none with-border") }}
            </div>
            <div>
                <label class="mb-0"> {{ form.email.label }} </label>
                {{ render_field(form.email, class="shadow-none with-border") }}
            </div>
            <div class="grid lg:grid-cols-2 gap-3">
                <div>
                    <label class="mb-0"> {{ form.age.label }} </label>
                    {{ render_field(form.age, class="shadow-none with-border") }}
                </div>
                <div>
                    <label class="mb-0"> {{ form.sex.label }} </label>
                    {{ render_field(form.sex, class="shadow-none with-border") }}
                </div>
            </div>
            <div>
                <label class="mb-0"> {{ form.current_status.label }} </label>
                {{ render_field(form.current_status, class="shadow-none with-border") }}
            </div>
            <div>
                <label class="mb-0"> {{ form.password.label }} </label>
                {{ render_field(form.password, class="shadow-none with-border") }}
            </div>
            <div>
                <label class="mb-0"> {{ form.password2.label }} </label>
                {{ render_field(form.password2, class="shadow-none with-border") }}
            </div>
            <div class="checkbox">
                <input type="checkbox" id="chekcbox1" checked="">
                <label for="chekcbox1"><span class="checkbox-icon"></span> I agree to the <a href="#" target="_blank"
                        class="uk-text-bold uk-text-small uk-link-reset"> Terms and Conditions </a>
                </label>
            </div>

            <div>
                <button type="submit" id="submit" name="submit"
                    class="bg-blue-600 font-semibold p-2 mt-5 rounded-md text-center text-white w-full">
                    Register</button>
            </div>
            <div>
                <button type="button"
                    class="bg-blue-600 font-semibold p-2 mt-5 rounded-md text-center text-white w-full ">
                    <a href="{{ url_for('account.login') }}"> Facebook</a>
                </button>
                <button type="button"
                    class="bg-green-600 font-semibold p-2 mt-5 rounded-md text-center text-white w-full ">
                    <a href="{{ url_for('account.login') }}"> Twitter</a>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}